* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.img-logo-header {
    position: absolute;
    width: 1920px;
    height: 740px;
}

.txt-logo-header {
    position: relative;
    color: white;
    font-size: 64px;
    text-align: center;
    margin: auto;
    top: 210px;
}

.txt-logo-header2 {
    position: relative;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: auto;
    top: 240px;
}

/*age-card-header*/
.age-card-header {
    background: rgb(255, 255, 255);
    position: relative;
    height: 250px;
    width: 1100px;
    top: 450px;
    margin: auto;
}
.age-card1, .age-card2, .age-card3, .age-card4 {
    display: inline-block;
    text-align: center;
}

.number1 {
    color: rgb(239, 87, 26);
    font-size: 70px;
    position: relative;
    top: 50px;
    left: 150px;
}

.number2 {
    color: rgb(239, 87, 26);
    font-size: 70px;
    position: relative;
    top: 50px;
    left: 300px;
}

.number3 {
    color: rgb(239, 87, 26);
    font-size: 70px;
    position: relative;
    top: 50px;
    left: 450px;
}

.number4 {
    color: rgb(239, 87, 26);
    font-size: 70px;
    position: relative;
    top: 50px;
    left: 580px;
}

.age1 {
    color: black;
    font-size: 28px;
    position: relative;
    top: 60px;
    left: 150px;
}

.age2 {
    color: black;
    font-size: 28px;
    position: relative;
    top: 60px;
    left: 300px;
}

.age3 {
    color: black;
    font-size: 28px;
    position: relative;
    top: 60px;
    left: 450px;
}

.age4 {
    color: black;
    font-size: 28px;
    position: relative;
    top: 60px;
    left: 580px;
}

.idk1 {
    color: rgb(145, 148, 150);
    font-size: 18px;
    position: relative;
    top: 65px;
    left: 150px;
}

.idk2 {
    color: rgb(145, 148, 150);
    font-size: 18px;
    position: relative;
    top: 65px; 
    left: 300px;
}

.idk3 {
    color: rgb(145, 148, 150);
    font-size: 18px;
    position: relative;
    top: 65px;  
    left: 450px;
}

.idk4 {
    color: rgb(145, 148, 150);
    font-size: 18px;
    position: relative;
    top: 65px;
    left: 580px;
}

/*main*/
.main-txt {
    position: relative;
    text-align: center;
    color: rgb(33, 38, 38);
    font-size: 36px;
    top: 550px;
}

/*Слайдер*/
.size {
    width: 600px;
    height: 400px;
}

.slider-description {
    font-size: 24px;
    position: absolute;
    top: 420px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.slider-txt {
    font-size: 22px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000; 
}

.sliderA {
    width: 600px;
    height: 650px;
    border: 2px solid rgba(0, 0, 0, 0);
    position: relative;
    text-align: center;
    top: 600px;
    left: 650px;
}

.sliderA > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(161, 109, 65, 0.8);
    border: 1px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 1px;
    top: 58%;
    transition: background 0.8s ease-out 0s;
}

.sliderA > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.sliderA > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.sliderA > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

/*секция 2*/
.nav-line {
    position: absolute;
    background: rgb(242, 116, 74);
    top: 1750px;
    width: 1920px;
    height: 150px;
}

.txt4 {
    position: absolute;
    top: 50px;
    left: 300px;
    color: white;
    font-size: 48px;
}

.txt5 {
    position: absolute;
    top: 120px;
    left: 300px;
    color: white;
    font-size: 24px;
}

/*Род занятий*/
.work {
    position: absolute;
    font-size: 36px;
    text-align: center;
    right: 0px;
    left: 0px;
    top: 2100px; 
}
